In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 100371.3516 - mae: 100371.3516 - val_loss: 98487.2656 - val_mae: 98487.2656
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99482.0078 - mae: 99482.0078 - val_loss: 96681.9062 - val_mae: 96681.9062
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96344.0625 - mae: 96344.0625 - val_loss: 92098.1719 - val_mae: 92098.1719
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 90251.6094 - mae: 90251.6094 - val_loss: 84619.8125 - val_mae: 84619.8125
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 81613.4375 - mae: 81613.4375 - val_loss: 75314.1562 - val_mae: 75314.1562
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 71901.4062 - mae: 71901.4062 - val_loss: 66081.0703 - val_mae: 66081.0703
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 63021.7969 - mae: 63021.7969 - val_loss: 58581.0898 - val_mae: 58581.0898
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 56577.4922 - mae: 56577.4922 - val_loss: 53996.5469 - val_mae: 53996.5469
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 52897.6641 - mae: 52897.6641 - val_loss: 51786.8320 - val_mae: 51786.8320
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 51227.7969 - mae: 51227.7969 - val_loss: 50979.3516 - val_mae: 50979.3516
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 50618.4648 - mae: 50618.4648 - val_loss: 50770.3906 - val_mae: 50770.3906
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50380.3047 - mae: 50380.3047 - val_loss: 50700.0508 - val_mae: 50700.0508
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50273.0273 - mae: 50273.0273 - val_loss: 50652.6797 - val_mae: 50652.6797
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50196.0859 - mae: 50196.0859 - val_loss: 50608.2070 - val_mae: 50608.2070
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50130.9922 - mae: 50130.9922 - val_loss: 50571.7148 - val_mae: 50571.7148
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50082.1523 - mae: 50082.1523 - val_loss: 50532.6992 - val_mae: 50532.6992
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50037.0117 - mae: 50037.0117 - val_loss: 50504.4492 - val_mae: 50504.4492
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 49998.1016 - mae: 49998.1016 - val_loss: 50478.2266 - val_mae: 50478.2266
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49963.6719 - mae: 49963.6719 - val_loss: 50456.8203 - val_mae: 50456.8203
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49928.7422 - mae: 49928.7422 - val_loss: 50431.1914 - val_mae: 50431.1914
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49897.4297 - mae: 49897.4297 - val_loss: 50410.5078 - val_mae: 50410.5078
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49866.5859 - mae: 49866.5859 - val_loss: 50400.2969 - val_mae: 50400.2969
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49839.3633 - mae: 49839.3633 - val_loss: 50388.6602 - val_mae: 50388.6602
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49814.2227 - mae: 49814.2227 - val_loss: 50386.1055 - val_mae: 50386.1055
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49793.0586 - mae: 49793.0586 - val_loss: 50368.8125 - val_mae: 50368.8125
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49768.8945 - mae: 49768.8945 - val_loss: 50353.6797 - val_mae: 50353.6797
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49752.6289 - mae: 49752.6289 - val_loss: 50356.7578 - val_mae: 50356.7578
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49734.4688 - mae: 49734.4688 - val_loss: 50339.2969 - val_mae: 50339.2969
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49717.6367 - mae: 49717.6367 - val_loss: 50332.7344 - val_mae: 50332.7344
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49700.5781 - mae: 49700.5781 - val_loss: 50335.3828 - val_mae: 50335.3828
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49688.0742 - mae: 49688.0742 - val_loss: 50336.7539 - val_mae: 50336.7539
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49672.5156 - mae: 49672.5156 - val_loss: 50326.1133 - val_mae: 50326.1133
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49658.2539 - mae: 49658.2539 - val_loss: 50313.7383 - val_mae: 50313.7383
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49645.6406 - mae: 49645.6406 - val_loss: 50302.3438 - val_mae: 50302.3438
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49636.2305 - mae: 49636.2305 - val_loss: 50301.6836 - val_mae: 50301.6836
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49623.3906 - mae: 49623.3906 - val_loss: 50297.0000 - val_mae: 50297.0000
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49613.0625 - mae: 49613.0625 - val_loss: 50303.6211 - val_mae: 50303.6211
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49600.3008 - mae: 49600.3008 - val_loss: 50287.7773 - val_mae: 50287.7773
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49586.5312 - mae: 49586.5312 - val_loss: 50282.7695 - val_mae: 50282.7695
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49579.0703 - mae: 49579.0703 - val_loss: 50274.0312 - val_mae: 50274.0312
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49568.5469 - mae: 49568.5469 - val_loss: 50280.4453 - val_mae: 50280.4453
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49559.1172 - mae: 49559.1172 - val_loss: 50282.2109 - val_mae: 50282.2109
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49551.2344 - mae: 49551.2344 - val_loss: 50273.8164 - val_mae: 50273.8164
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49540.5273 - mae: 49540.5273 - val_loss: 50277.3594 - val_mae: 50277.3594
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49533.7852 - mae: 49533.7852 - val_loss: 50271.7852 - val_mae: 50271.7852
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49524.1797 - mae: 49524.1797 - val_loss: 50268.8594 - val_mae: 50268.8594
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49516.6992 - mae: 49516.6992 - val_loss: 50272.8711 - val_mae: 50272.8711
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49510.5352 - mae: 49510.5352 - val_loss: 50274.7383 - val_mae: 50274.7383
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49503.3594 - mae: 49503.3594 - val_loss: 50273.2773 - val_mae: 50273.2773
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49500.3945 - mae: 49500.3945 - val_loss: 50276.7617 - val_mae: 50276.7617
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49491.2969 - mae: 49491.2969 - val_loss: 50276.8711 - val_mae: 50276.8711
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49483.4570 - mae: 49483.4570 - val_loss: 50283.4727 - val_mae: 50283.4727
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49478.7539 - mae: 49478.7539 - val_loss: 50276.6133 - val_mae: 50276.6133
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49471.0664 - mae: 49471.0664 - val_loss: 50282.2383 - val_mae: 50282.2383
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49463.7852 - mae: 49463.7852 - val_loss: 50269.1289 - val_mae: 50269.1289
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49459.6484 - mae: 49459.6484 - val_loss: 50264.8359 - val_mae: 50264.8359
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49452.4023 - mae: 49452.4023 - val_loss: 50273.6445 - val_mae: 50273.6445
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49448.6250 - mae: 49448.6250 - val_loss: 50272.7070 - val_mae: 50272.7070
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49438.9219 - mae: 49438.9219 - val_loss: 50286.3789 - val_mae: 50286.3789
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49437.9609 - mae: 49437.9609 - val_loss: 50273.0547 - val_mae: 50273.0547
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49431.8945 - mae: 49431.8945 - val_loss: 50269.5469 - val_mae: 50269.5469
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49428.8281 - mae: 49428.8281 - val_loss: 50275.2773 - val_mae: 50275.2773
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49420.2109 - mae: 49420.2109 - val_loss: 50279.0625 - val_mae: 50279.0625
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 49417.1328 - mae: 49417.1328 - val_loss: 50285.4062 - val_mae: 50285.4062
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 49414.8008 - mae: 49414.8008 - val_loss: 50278.9688 - val_mae: 50278.9688
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 49408.7656 - mae: 49408.7656 - val_loss: 50282.2305 - val_mae: 50282.2305

In [17]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit/20250213-004432

ERROR: Failed to launch TensorBoard (exited with 1).

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 706us/step - loss: 50264.8359 - mae: 50264.8359
Test MAE : 50264.8359375

In [20]:
model.save('regression_model.h5')

d:\Data_Science\Data Science Projects 2025\Deep Learning Project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(